@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    /* font-family: "Gugi", cursive; */
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.main_content {
    margin-bottom: 50px;
}

/* create page */
.control-label {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}
.slug_disabled {
    cursor: none;
}
/* view */
.search_head {
    display: flex;
}
.total_data_rows {
    font-weight: bold;
}
.search {
    margin-left: auto;
}
.search select {
    width: 50px;
    height: 27px;
    outline: none;
}
.search input {
    outline: none;
}
#newData {
    z-index: 222;
}
.pagination_display {
    display: none !important;
}
.pagintion_nav {
    display: flex;
    justify-content: center;
}
/* edit  */
.edit_model_heading {
    background-color: #3b4a42;
    padding: 5px 0;
    color: white;
}
.edit_model_heading h5 {
    margin: auto;
    font-weight: bold;
}
/* footer */
footer {
    border: 1px solid #bdbaba;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    background-color: white;
    z-index: 333;
}
.copyright {
    margin-top: 16px;
}
@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .dropdown-menu {
        left: -34px;
    }
}
@media only screen and (max-width: 575px) {
    .left_navigation {
        display: none;
    }
}
