@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    /* font-family: "Gugi", cursive; */
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
/* left navigation  */
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* nav  */
.bg-indigo {
    background-color: #3c8dbc !important;
}
.change_color_to_white {
    color: white !important;
}
/* create page */
.control-label {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}
